.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 80px;
  font-size: 15px;
  border-bottom: 1px solid lightgray;
  background-color: black;
  color: white;
}

.header__logo {
  font-weight: 600;
  font-size: 18px;
}

.header__right__data {
  font-weight: 500;
}

.header__right__data--network {
  font-weight: 600;
}
